body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* html, body, #app, #app>div {
  height: 100%
} */

html, body, #root, #root>div {
  height: 100%
}

/*  */

.required {
  color: crimson;
}

.login-singup-rootDiv{
  background-color: #b4f8de4f;
}

.enclosing-div {
  width: 535px;
  height: 628px;
  position: absolute;
  top: 56px;
  left: 500px;
  border-radius: 11px;
  background-color: white;
}

.login-style {
  padding-top: 85px;
}

.bringFront {
  position: relative;
  z-index: 1;
}

/* Login Component */
.login-button{
  width: 9%;
}
/* Login Component ends here */

/* Header Component */

#header-style{
  height: 87px;
  background-color: #EFFFF7;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

#logo{
  width: 95px;
  height: 87px;
  position: absolute;
  top: 3px;
  left: 8px;
}

.header-items{
  margin-left: 104px;
}

.help-icons{
  position: relative;
  top: 6px;
  right: 6px;
}

#vertical-line{
  border-left: 1.5px solid #999999c4;
  height: 87px;
  position: absolute;
  top: 0px;
  right: 87px;
}

.user-image{
  position: absolute;
  top: 4px;
  width: 70px;
  height: 70px;
}

.user-details{
  margin-left: 70px;
}

.edit-profile{
  margin: 11px auto 0;
}

/* Header Component ends here */


/* Dashboard component */

.heading{
  margin-top: 135px;
  margin-bottom: 48px;
}

.working-on{
  display: inline-block;
  width: 25%;
  position: relative;
  left: 160px;
  vertical-align: top;
}

.watching{
  display: inline-block;
  width: 25%;
  position: relative;
  left: 236px;
  vertical-align: top;
}

.info{
  position: relative;
  top: 2px;
  left: 4px;
}

.info:hover{
  color: #3bc4ff;
}

.add-project{
  width: 25%;
  position: absolute;
  right: 60px;
  top: 270px;
}

.manage-projects{
  width: 25%;
  position: absolute;
  right: 60px;
  top: 460px;
}

.buttons{
  width: 225px;
  background-color: #DADADA;
}

/* Dashboard Component ends here */


/* Footer Component */

#footer-style{
  width: 100%;
}

.footer-icons{
  margin: 0 20px 0;
}

#facebook{
  color: #1877F2;
}

#instagram{
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);

  position: relative;
  top: -1.2px;
}

#twitter{
  color: #00acee;
}

#github{
  color: #ffffff;
}

#linkedin{
  color: #0072b1;
}

.copyright{
  width: 24%;
  margin: 12px auto 0;
}

/* Footer Component ends here */


/* AddProject Component */

.details-enclosed{
  width: 50%;
  margin: 148px auto 5px;
}

.input-fields{
  margin-top: 25px;
}

#project-name{
  height: 48px;
}

#project-desc{
  height: 144px;
}

/* .input-buttons{
  width: 50%;
  border-radius: 0;
} */

/* #working-on-button{
  
}

#watching-button{

} */

.back-button{
  width: 20%;
  border-radius: 6px;
  margin-top: 30px;
  background-color: #96D9FF;
}

.create-project-button{
  width: 74%;
  border-radius: 6px;
  margin-left: 45px;
  margin-top: 30px;
  background-color: #95FFE5;
}

/* AddProject Component ends here */


/* ProjectPage Component */

#side-menu{
  background-color: #CFCFCF;
  width: 12%;
  height: 100%;
  position: fixed;
  top: 87px;
}

.scrum-img{
  width: 24px;
  height: 24px;
  position: relative;
  top: -4px;
  right: 2px;
}

.side-menu-icons{
  position: relative;
  top: 7px;
  right: 2px;
}

.menu-items{
  margin-left: 14px;
}

.list-items:hover{
  background-color: grey;
  color: white;
}

.list-items:hover .scrum-img{
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.project-title-gap{
    margin: 9px auto 9px;
}

.team-top-gap{
  margin-top: 25.5625em;
}

#content-div{
  margin-left: 12%;
  position: relative;
  top: 87px;
}

/* ProjectPage Component ends here */


/* ProjectContent Component */

.project-img{
  width: 90px;
  height: 90px;
}

.project-details-encloser{
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin-top: 2em;
}

.team-encloser{
  width: 16%;
  position: absolute;
  top: 40px;
  right: 48px;
}

.team{
  padding: 5px 20px;
  background-color: #E4E4E4;
  text-align: center;
  border-radius: 7px;
}

.team-text{
  font-weight: 400;
}

/* ProjectContent Component ends here */


/* ScrumBacklog Component */

.prime-encloser{
  margin-top: 18px;
}

.scrum-stats-bar{
  background-color: #AAFFFF;
}

.progress-bar{
  display: inline-block;
  background-color: white;
  width: 30%;
  height: 40px;
}

.stats{
  display: inline-block;
  margin: 0 16px 0;
  position: relative;
  bottom: 14px;
}

.mid-div{
  margin-top: 48px;
}

.backlog-heading{
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
}

.story-count{
  display: inline-block;
  margin-bottom: 0;
}

.add-icon{
  position: relative;
  top: 6px;
}

.add-story-button{
  width: 18%;
  background-color: #9BFAEC;
  border-radius: 7px;
}

.story-attributes-form{
  margin-bottom: 25px;
}

#story-desc-form{
  height: 208px;
}


.user-stories{
  margin-top: 48px;
}

.story-details{
  display: inline-block;
}

.story-points{
  width: 20px;
  margin-left: 3.5rem;
  margin-right: 0.5rem;
  text-align: end;
}


.sprints{
  display: inline-block;
}

.add-sprint{
  text-decoration: none;
  font-size: 1.2rem;
  color: #505050;
  position: relative;
  top: 5px;
}
.add-sprint:hover{
  color: #0099FF;
}

.date-inputs{
  display: inline-block;
  width: 48%;
  margin-top: 16px;
}

.sprint-details{
  margin-top: 40px;
}

.keep-left{
  display: inline-block;
}
.sprint-name{
  color: #0099FF;
}

.keep-right{
  display: inline-block;
}
#closed{
  margin-bottom: 0.5rem;
}

.sprint-taskboard{
  width: 100%;
  background-color: #B9B9B9;
}

.sprint-taskboard:hover{
  background-color: #949494;
}

/* ScrumBacklog Component ends here */

.category-btn{
  width: 50%;
}

/* Issues Component */

#issue-encloser{
  padding: 20px 40px 0;
}

.issue-heading{
  display: inline-block;
}

.add-issue-button{
  width: 11%;
  background-color: #9BFAEC;
  border-radius: 7px;
}

.issue-input{
  margin-bottom: 25px;
}

#issue-desc-form{
  height: 302px;
}


.issues{
  margin-top: 20px;
}

.issue-info{
  margin-bottom: 12px;
}

.issue-details-heading{
  display: inline-block;
  margin: 0 40px 0;
}

.issue-details{
  display: inline-block;
}

.type{
  width: 96px;
  margin-left: 40px;
}
.priority{
  width: 53px;
  margin-left: 20px;
}
.issue-subject{
  margin-left: 96px;
}
.status{
  width: 98px;
}
.assigned-to{
  width: 101px;
  margin-right: 40px;
  margin-left: 36px;
}

/* Issues Component ends here */
